<%- include('template/cabecera',{tituloWeb: 'Panel de administración' }) %>

  <div class="container my-5 p-5 col-12">
    <div class="text-color-white fw-bolder">
      <a class="btn btn-success bg-gradient m-2 p-2" href="/create"><i class="bi bi-plus-circle mx-2"></i>Agregar luchador</a>
    </div>
    <table class="table border shadow my-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Alias</th>
          <th scope="col">División</th>
          <th scope="col">Modificar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody>

        <% if(arrayLuchador.length> 0) {%>
          <% arrayLuchador.forEach(luchador=> { %>
            <tr>
              <th scope="row">
                <%= luchador.id %>
              </th>
              <td>
                <%= luchador.nombre %>
              </td>
              <td>
                <%= luchador.alias %>
              </td>
              <td>
                <%= luchador.division %>
              </td>
              <td> <a class="btn btn-warning btn-sm" href="/<%= luchador._id %>"><i class="bi bi-pen"></i> Actualizar </a></td>
              <td> <button id="eliminar<%= luchador._id %>" class="btn btn-danger btn-sm"
                  data-id="<%= luchador._id %>"><i class="bi bi-trash3"></i> Eliminar</button> </td>
            </tr>
            <script>
              document.getElementById('eliminar<%= luchador._id %>').addEventListener('click', async () => {

                try {
                  const data = await fetch(`/<%= luchador._id %>`, {
                    method: 'delete'
                  })
                  const res = await data.json()
                  console.log(res)
                  if (res.estado) {
                    window.location.href = '/'
                  } else {
                    console.log(res)
                  }
                } catch (error) {
                  console.log(error)
                }
              })

            </script>
            <% }) %>
              <% } %>
      </tbody>
    </table>
  </div>

  <%- include('template/footer') %>